@charset "UTF-8";
@import "../../../../../vendor/craftcms/cms/src/web/assets/shared";

/* ----------------------------------------
/* Organization
/* ----------------------------------------*/

.menubtn {

  &#available {
    margin-left: -1px;

    &:before,
    &:after {
      margin: 0;
    }

    &:before {
      margin-right: -1px;

    }

    &:after {
      content: '' !important;

    }

  }

}

.tabs {

  > ul {

    > li {

      &.users {
        float: right;

      }

    }

  }

}

/* delete organization modal */
.deleteorganizationmodal,
.changeorganizationstatusmodal {
  .options {
    label {
      display: inline-block;
      line-height: 30px;

    }

  }

  .elementselect {
    @include margin-left(10px);
    display: inline-block;
    vertical-align: middle;

  }

  .buttons .spinner {
    @include floatright;
    @include margin-right(-20px);
    @include margin-left(-4px);

  }
}
